@charset "UTF-8";
@import "layout/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html,
body {
  height: 100%;
  font-weight: 400;
  font-family: "Alegreya Sans", "Arial", "Helvetica", "sans-serif";
  color: #666666;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) and (max-width: 411px) {
  html {
    font-size: 12.5px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%;
  position: relative;
}

html {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../decor/узор.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100%;
  min-height: 36.1111111111rem;
  color: white;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../decor/left leave.png");
  position: absolute;
  left: 5%;
  bottom: -2.7777777778rem;
}
.hero:after {
  content: url(../decor/berries.png);
  position: absolute;
  right: 0;
  bottom: -2.7777777778rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}

.chocco {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .chocco {
    display: none;
  }
}

.chocco768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .chocco768 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 2%;
  }
}

.promo__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2777777778rem;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .promo__title {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .promo__title {
    margin-bottom: 0.7777777778rem;
  }
}

.promo__description {
  font-size: 1.1666666667rem;
  padding-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .promo__description {
    width: 55%;
  }
}
@media screen and (max-width: 480px) {
  .promo__description {
    padding-bottom: 1.4444444444rem;
    width: auto;
    padding: 0 0.5555555556rem;
  }
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .promo {
    display: flex;
    flex-direction: column;
    margin-bottom: 19%;
  }
}

.promo__text {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .promo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0.5555555556rem;
}
.menu__item:first-child {
  margin-left: 0.5555555556rem;
}

.contacts-phone {
  font-size: 1.1111111111rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-phone__text {
  white-space: nowrap;
  font-size: 1.1111111111rem;
}

.contact-phone__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  fill: white;
}

.contact-phone__icon {
  flex-shrink: 0;
}

.phone:hover {
  fill: red;
}

.menu {
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__contact-phone {
    display: none;
  }
}

.logo {
  flex-shrink: 0;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  margin-right: 2.5555555556rem;
  display: flex;
  align-items: center;
}
.advantages__item:last-child {
  margin-right: 0;
}

.icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
  fill: #54A791;
}

.advantages__text {
  font-size: 0.8888888889rem;
  max-width: 4.6666666667rem;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}

.section {
  background-color: white;
  height: 100%;
  min-height: 36.1111111111rem;
}

.benefit-section {
  position: relative;
  background: url("../decor/grey leave.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefit-section {
    background: none;
  }
}
@media screen and (max-width: 480px) {
  .benefit-section {
    background: none;
  }
}
.benefit-section:after {
  content: url("../decor/raspberry.png");
  position: absolute;
  left: 0;
  bottom: -5.7222222222rem;
}
@media screen and (max-width: 480px) {
  .benefit-section:after {
    display: none;
  }
}

.container--why {
  height: 100%;
  position: relative;
  z-index: 20;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  margin-bottom: 3.1666666667rem;
}

.headline__title {
  margin-bottom: 0.6111111111rem;
  margin-top: 6.2777777778rem;
}
@media screen and (max-width: 768px) {
  .headline__title {
    margin-top: 16.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-top: 3.0555555556rem;
  }
}

.headline__text {
  padding: 0 23%;
}
@media screen and (max-width: 480px) {
  .headline__text {
    padding: 0 3%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../decor/grey dotts.png");
  position: absolute;
  top: 2.3888888889rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
.benefits__item:first-child {
  margin-left: -7.5%;
}
@media screen and (max-width: 768px) {
  .benefits__item:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:first-child {
    margin-left: 0;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f3f5f3;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.9444444444rem;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text h3 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.6666666667rem;
}

@media screen and (max-width: 768px) {
  .benefit-section {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .container--why {
    background: url("../decor/grey leave.png") left top 13% no-repeat;
    position: absolute;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .container--why {
    background: none;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    padding-left: 0.2222222222rem;
    padding-right: 0.7777777778rem;
  }
}

.section__title--review {
  margin-bottom: 2.4444444444rem;
}
@media screen and (max-width: 768px) {
  .section__title--review {
    margin-top: 11.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section__title--review {
    margin-top: 5.4444444444rem;
  }
}
@media screen and (max-width: 768px) {
  .section__title--review {
    margin-top: 5rem;
  }
}

.reviews__display-inner {
  background: #f8faf9;
  padding: 3.5555555556rem 2.5rem 1rem 2rem;
  display: flex;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    padding: 2.9444444444rem 1.1666666667rem 1.1666666667rem 1.1666666667rem;
  }
}
.reviews__display-inner:before {
  content: url("../decor/Слой 2.png");
  right: 0;
  top: 0;
  position: absolute;
}
.reviews__display-inner:after {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -3.6111111111rem;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  margin-left: -2.6111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
    margin-bottom: 1.7222222222rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin: 0;
  }
}

.reviews__items {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__items {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

.reviews__items h3 {
  font-size: 1.6666666667rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.2222222222rem;
}

.reviews__items:nth-child(1n+2) {
  display: none;
}

.reviews__text {
  margin-bottom: 2rem;
  width: 85%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    width: 100%;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--review {
  background: url("../decor/review decor left.png") left bottom -20% no-repeat;
  position: relative;
  z-index: 90;
}
.section--review:before {
  content: url("../decor/review berry left.png");
  position: absolute;
  left: 0;
  bottom: -5.7222222222rem;
  z-index: 60;
}
@media screen and (max-width: 411px) {
  .section--review:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section--review:before {
    content: "";
    background-image: url("../decor/review berry left.png");
    position: absolute;
    left: 0;
    bottom: 0rem;
    z-index: 300;
    width: 90px;
    height: 90px;
    background-size: cover;
  }
}
.section--review:after {
  content: url("../decor/review strawberry top.png");
  position: absolute;
  right: 0;
  top: 0px;
}
@media screen and (max-width: 768px) {
  .section--review:after {
    top: -5.5555555556rem;
    right: -1.6666666667rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 411px) {
  .section--review:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section--review:after {
    top: -6.3888888889rem;
    right: -1.6666666667rem;
  }
}

.section--review {
  margin-top: 3.8333333333rem;
}

.reviews__avatar:nth-child(1n+2) {
  display: none;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  margin-right: 0.6111111111rem;
}
.interactive-avatar--active a img {
  border: 0.3333333333rem solid #0f5a47;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3333333333rem solid transparent;
}
.interactive-avatar__img:hover {
  border: 0.3333333333rem solid #0f5a47;
}

.section__title--order {
  padding-top: 4.7777777778rem;
  color: #365a49;
  margin-bottom: 2.9444444444rem;
}
@media screen and (max-width: 768px) {
  .section__title--order {
    margin-bottom: 2.1666666667rem;
    padding-top: 10.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title--order {
    padding-top: 5.3333333333rem;
    width: 70%;
    padding-left: 2.7777777778rem;
  }
}

.order-section {
  position: relative;
  background-color: #d2ddd9;
  background: url("../decor/pattern delivery.png");
  z-index: 50;
  height: 100%;
}
.order-section:before {
  content: url("../decor/blueberry order.png");
  bottom: 10%;
  left: 1%;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .order-section:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .order-section:before {
    display: none;
  }
}
.order-section:after {
  content: url("../decor/leave order.png");
  right: 0;
  bottom: 10%;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .order-section:after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .order-section:after {
    display: none;
  }
}

.form {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 17.7%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  margin-right: 1.1111111111rem;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.65rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  height: 3.2777777778rem;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 1.9444444444rem;
  }
}
.form__input:focus {
  outline: none;
  border-color: #dee2bd;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.4444444444rem;
  }
}

.form__title {
  color: #365a49;
  margin-bottom: 0.3333333333rem;
}

@media screen and (max-width: 768px) {
  .form__buttons {
    display: flex;
    justify-content: center;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.3333333333rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.5555555556rem;
  margin-bottom: 0.5555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../decor/Галочка.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: white;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  color: #365a49;
  padding-left: 0.5555555556rem;
}

.button {
  padding: 1rem 1.7777777778rem;
  border-radius: 5.5555555556rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border: none;
}
.button--white {
  background: white;
  color: #2e4e3f;
}
.button:hover {
  color: white;
  background: #2e4e3f;
}
.button--theme--green {
  background: #2e4e3f;
  color: #ffffff;
}
.button--theme--green:hover {
  background: #ffffff;
  color: #2e4e3f;
}
.button--theme--transparent {
  color: #000000;
  background: transparent;
  text-transform: none;
}
.button--theme--transparent:hover {
  color: #2e4e3f;
  background: transparent;
}

.button--green-lightgreen {
  background: #2e4e3f;
  font-size: 19px;
  font-weight: 700;
  color: white;
}
.button--green-lightgreen:hover {
  background: #365a49;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: greenyellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.5555555556rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: white;
  border-radius: 10px;
  height: 4px;
}

.contacts {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
}

.footer--container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__contacts {
  font-size: 1.1666666667rem;
  line-height: 1, 1;
  color: #000000;
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 1.0555555556rem;
    margin-top: 1.3333333333rem;
  }
}

.contact-phone__text--green {
  color: #365a49;
  font-size: 21px;
  line-height: 1.45;
  text-transform: uppercase;
}

.socials__list {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 2.3333333333rem 0 1.7222222222rem 0;
}
.socials__link {
  margin-right: 1.1111111111rem;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #B3B3B3;
}
.socials__icon:hover {
  fill: #000000;
}

.contact-phone__icon-elem--black {
  fill: #365a49;
}

@media screen and (max-width: 480px) {
  .contacts--visible {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .contacts--visible {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .contacts--visible {
    padding-left: 2.7777777778rem;
  }
}

.hamburger-block {
  position: fixed;
  background-color: #343739;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1000;
  display: none;
}

.hamburger-menu {
  height: 100%;
}

.hamburger-menu__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger-menu__item {
  font-size: 2rem;
  margin-bottom: 1.9444444444rem;
}

.hamburger-menu__link {
  text-decoration: none;
  color: white;
}

.close__link {
  position: absolute;
  top: 2.7777777778rem;
  right: 2.7777777778rem;
}

.close__icon {
  fill: #c2c3c4;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.section-slider {
  background-color: #f8faf9;
  height: 100%;
  width: 100vw;
  position: relative;
  z-index: 10;
}
.section-slider:before {
  content: url("../decor/Узор на фоне.png");
  position: absolute;
  bottom: -4.4444444444rem;
  right: 0;
}
@media screen and (max-width: 480px) {
  .section-slider:before {
    content: "";
    background-image: url("../decor/Узор на фоне.png");
    position: absolute;
    bottom: -20%;
    right: -7%;
    width: 200px;
    height: 400px;
    background-size: cover;
  }
}
.section-slider:after {
  content: url("../decor/blueberries.png");
  position: absolute;
  bottom: -3.8888888889rem;
  right: 0;
}
@media screen and (max-width: 480px) {
  .section-slider:after {
    content: "";
    background-image: url("../decor/blueberries.png");
    position: absolute;
    bottom: -3.8888888889rem;
    right: 0;
    width: 70px;
    height: 70px;
    background-size: cover;
  }
}
@media screen and (max-width: 411px) {
  .section-slider {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section-slider {
    right: -1.1111111111rem;
  }
}

.container--slider {
  height: 100%;
  position: relative;
}
.slider-window {
  height: 100%;
  overflow: hidden;
  display: flex;
  margin-left: 0.8888888889rem;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 411px) {
  .slider-window {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .slider-window {
    padding: 0;
  }
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 0.5555555556rem;
  padding-left: 0.5555555556rem;
}

.right {
  position: absolute;
  top: 48%;
  right: -3%;
}
@media screen and (max-width: 480px) {
  .right {
    top: 26%;
    right: -2%;
  }
}
@media screen and (max-width: 768px) {
  .right {
    top: 26%;
    right: 2%;
  }
}

.left {
  position: absolute;
  top: 48%;
  left: -3%;
}
@media screen and (max-width: 480px) {
  .left {
    top: 26%;
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .left {
    top: 26%;
    left: 0%;
  }
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .slider__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.row-left {
  display: flex;
  justify-content: center;
}

.row-right {
  flex: 1;
  padding-right: 1.1111111111rem;
}
.price__icon {
  height: 1.6666666667rem;
  width: 1.6666666667rem;
}

.content__item {
  display: flex;
}
@media screen and (max-width: 768px) {
  .content__item {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .content__item {
    justify-content: flex;
    align-items: center;
  }
}

.title h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .title h2 {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .title h2 {
    text-align: center;
    font-size: 1.7777777778rem;
  }
}

.text p {
  color: #666666;
}
@media screen and (max-width: 768px) {
  .text p {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .text p {
    text-align: center;
  }
}

.content__item {
  display: flex;
  margin-bottom: 1.9444444444rem;
}
@media screen and (max-width: 480px) {
  .content__item {
    margin-bottom: 0.6666666667rem;
  }
}

.energy {
  margin-right: 3.0555555556rem;
}
.energy span {
  color: #000000;
  font-weight: bold;
}

.weight span {
  color: #000000;
  font-weight: bold;
}

.price {
  margin-right: 1.6666666667rem;
  text-transform: uppercase;
  font-size: 3.3333333333rem;
  font-weight: 300;
  line-height: 3.3333333333rem;
  color: #151515;
}

.chocco-bars {
  width: 89%;
}
@media screen and (max-width: 768px) {
  .chocco-bars {
    margin: 6.3888888889rem 0px 3.1666666667rem 0px;
    margin-right: 0.5555555556rem;
  }
}
.content {
  margin-bottom: 0.8333333333rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .content {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .content {
    display: none;
  }
}

.whatinside {
  background: transparent;
  padding: 1.1111111111rem;
  position: absolute;
  top: 0px;
  width: 90px;
  height: 90px;
}

.ingredients__icon {
  width: 35px;
  height: 35px;
  display: inline-flex;
}

.whatinside__list {
  display: flex;
  background-color: white;
  flex-direction: column;
  position: absolute;
  right: 0%;
  top: -9999px;
  padding: 1.3888888889rem;
}

.whatinside:hover .whatinside__list {
  right: -307px;
  top: 0;
}

.whatinside__item {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  align-items: center;
  text-align: center;
  align-self: center;
}
.ingredients p {
  margin-right: 4.0555555556rem;
  display: inline-flex;
  color: #363636;
  line-height: 1.5;
  font-size: 0.8888888889rem;
  padding-left: 0.8333333333rem;
  align-content: center;
}

.container--team {
  height: 100vh;
}

.team__list {
  display: flex;
}

.team__item {
  flex: 1;
  padding-right: 0.8333333333rem;
}
.team__item:last-child {
  padding-right: 0;
}

.section-team {
  margin-top: 4.0555555556rem;
  position: relative;
}
.section-team:before {
  content: url("../decor/team_raspberry.png");
  position: absolute;
  bottom: -7%;
  left: 0%;
  z-index: 60;
}
@media screen and (max-width: 480px) {
  .section-team:before {
    content: "";
    background-image: url("../decor/team_raspberry.png");
    position: absolute;
    bottom: -4%;
    left: 0%;
    z-index: 60;
    width: 70px;
    height: 80px;
    background-size: cover;
  }
}

.team__img {
  margin-bottom: 1.4444444444rem;
  display: flex;
  justify-content: center;
}

.team__subtitle {
  display: flex;
  justify-content: center;
}
.team__subtitle h2 {
  margin-bottom: 0.7222222222rem;
  font-size: 1.1666666667rem;
  font-weight: bold;
  color: #000000;
  padding-right: 0.2222222222rem;
}

.team__subtitle--active h2 {
  color: #9c9c1d;
}

.subtitle__img {
  align-self: center;
}

.team__hidden {
  display: block;
}
.team__hidden h3 {
  color: #000000;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5555555556rem;
}
.team__hidden p {
  padding-bottom: 0.4444444444rem;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .team__hidden p {
    padding: 0 3.0555555556rem;
  }
}

.team__content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .team__list--desktop {
    display: none;
  }
}

.team__list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .team__list--mobile {
    display: flex;
    flex-direction: column;
  }
}

.modal {
  position: fixed;
  z-index: 100000;
  width: 300px;
  height: 200px;
  background-color: white;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  display: none;
}

.modal__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content {
  margin-bottom: 1.6666666667rem;
}

.input--error {
  border: solid 0.1666666667rem red;
}

.close__icon--menu {
  overflow: hidden;
}

.menu-section {
  background: url("../menu-section/background.png") center center no-repeat;
  width: 100vw;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 50;
}

.menu-section__title {
  font-size: 2.6666666667rem;
}

.menu-section__list {
  display: flex;
  justify-content: flex-end;
}

.menu-section__items {
  height: 100vh;
  display: flex;
  justify-items: flex-end;
  position: relative;
}

.menu-section__photo {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .menu-section__photo {
    width: 14vw;
  }
}
@media screen and (max-width: 480px) {
  .menu-section__photo {
    width: 14vw;
  }
}

.menu-section__img {
  height: 100vh;
}

.menu-section__hidden {
  justify-content: flex-start;
  background-color: #333537;
  opacity: 0.929;
  width: 0;
  overflow: hidden;
}

.menu-section__text p {
  color: transparent;
  font-size: 0.8888888889rem;
  margin: 3.1111111111rem 7.0555555556rem 0rem 1.6666666667rem;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  .menu-section__text p {
    margin: 3.1111111111rem 1.1111111111rem 0rem 1.1111111111rem;
  }
}

.menu-section__hidden--animated {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    width: 0;
  }
  90% {
    width: 46vw;
  }
  100% {
    width: 40vw;
  }
}
.menu-section__hidden--animated .menu-section__text p {
  color: white;
  transition-property: color;
  transition-delay: 1.4s;
}

.menu-section__hidden--animated--close {
  animation-name: bounce-back;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: backward;
}

@keyframes bounce-back {
  0% {
    width: 40vw;
  }
  100% {
    width: 0;
  }
}
.menu-section__hidden--animated--close .menu-section__text p {
  color: transparent;
  transition-property: color;
  transition-delay: 0.5s;
}

.close__link--menu {
  position: absolute;
  top: 1.6666666667rem;
  right: 1.6666666667rem;
}

.close__icon--menu {
  fill: #c2c3c4;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.menu-section__hidden--animated--768 {
  animation-name: bounce768;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounce768 {
  0% {
    width: 0;
  }
  100% {
    width: 58vw;
  }
}
.menu-section__hidden--animated--768 .menu-section__text p {
  color: white;
  transition-property: color;
  transition-delay: 1s;
}

.menu-section__hidden--animated--close--768 {
  animation-name: bounce-back-768;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forward;
}

@keyframes bounce-back-768 {
  0% {
    width: 70vw;
  }
  100% {
    width: 0;
  }
}
.menu-section__hidden--animated--close--768 .menu-section__text p {
  color: transparent;
  transition-property: color;
  transition-delay: 0.5s;
}

.menu-section__title {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

.player--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.player-section {
  position: relative;
  z-index: 70;
}
.player-section:after {
  content: url("../decor/how_berries.png");
  position: absolute;
  bottom: -15%;
  right: 0;
}
@media screen and (max-width: 480px) {
  .player-section:after {
    content: "";
    background-image: url("../decor/how_berries.png");
    position: absolute;
    bottom: -15%;
    right: 0;
    width: 100px;
    height: 150px;
    background-size: cover;
  }
}

.player--title {
  margin-top: 5.5555555556rem;
}

.player {
  position: relative;
}
.player:before {
  content: url("../decor/how_lists.png");
  position: absolute;
  left: -20%;
  bottom: 2%;
}
@media screen and (max-width: 480px) {
  .player:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .player:before {
    display: none;
  }
}