@charset "UTF-8";
@import "layout/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;800&display=swap");
html, body {
  height: 100%;
  font-weight: 400;
  font-family: "Alegreya Sans", "Arial", "Helvetica", "sans-serif";
  color: #666666;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
}

html {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../decor/узор.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: white;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../decor/left leave.png");
  position: absolute;
  left: 5%;
  bottom: -2.7777777778rem;
}
.hero:after {
  content: url(../decor/berries.png);
  position: absolute;
  right: 0;
  bottom: -2.7777777778rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}

.chocco {
  position: absolute;
  right: 23%;
  top: 10%;
}
@media screen and (max-width: 768px) {
  .chocco {
    display: none;
  }
}

.chocco768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .chocco768 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
}

.promo__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2777777778rem;
  line-height: 1.1;
}

.promo__description {
  font-size: 1.1666666667rem;
  padding-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .promo__description {
    width: 43%;
  }
}

.promo {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .promo {
    width: 100%;
    margin-bottom: 19%;
  }
}

@media screen and (max-width: 768px) {
  .promo__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: 0.8333333333rem;
}
.menu__item:last-child {
  margin-right: 0.5555555556rem;
}
.menu__item:first-child {
  margin-left: 0.5555555556rem;
}

.contacts-phone {
  font-size: 1.1111111111rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-phone__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone:hover {
  fill: red;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__contact-phone {
    display: none;
  }
}

.advantages__list {
  display: flex;
}

.advantages__item {
  margin-right: 2.5555555556rem;
  display: flex;
  align-items: center;
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantages__item .icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.advantages__text {
  font-size: 0.8888888889rem;
  max-width: 4.6666666667rem;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}

.section {
  background-color: white;
  height: 100vh;
  min-height: 36.1111111111rem;
}

.benefit-section {
  background: url("../decor/grey leave.png") left top 57% no-repeat;
  position: relative;
}
.benefit-section:after {
  content: url("../decor/raspberry.png");
  position: absolute;
  left: 0;
  bottom: -5.7222222222rem;
}

.container--why {
  height: 100%;
  position: relative;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  margin-bottom: 3.1666666667rem;
}

.headline__title {
  margin-bottom: 0.6111111111rem;
  margin-top: 6.2777777778rem;
}

.headline__text {
  padding: 0 23%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../decor/grey dotts.png");
  position: absolute;
  top: 2.3888888889rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
.benefits__item:first-child {
  margin-left: -7.5%;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f3f5f3;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.9444444444rem;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text h3 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.6666666667rem;
}

.section__title--review {
  margin-bottom: 2.4444444444rem;
}

.reviews__display-inner {
  background: #f8faf9;
  padding: 3.5555555556rem 2.5rem 1rem 2rem;
  display: flex;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
}
.reviews__display-inner:before {
  content: url("../decor/Слой 2.png");
  right: 0;
  top: 5%;
  position: absolute;
}
.reviews__display-inner:after {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -3.6111111111rem;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  margin-left: -2.6111111111rem;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__items {
  display: flex;
}

.reviews__items h3 {
  font-size: 1.6666666667rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.2222222222rem;
}

.reviews__items:nth-child(1n+2) {
  display: none;
}

.reviews__text {
  margin-bottom: 2rem;
  width: 85%;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--review {
  background: url("../decor/review decor left.png") left bottom -20% no-repeat;
  position: relative;
}
.section--review:before {
  content: url("../decor/review berry left.png");
  position: absolute;
  left: 0;
  bottom: -5.7222222222rem;
  z-index: 60;
}
.section--review:after {
  content: url("../decor/review strawberry top.png");
  position: absolute;
  right: 0;
  top: 0;
}

.section--review {
  margin-top: 3.8333333333rem;
}

.reviews__avatar:nth-child(1n+2) {
  display: none;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
}
.interactive-avatar--active a img {
  border: 0.3333333333rem solid #0f5a47;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3333333333rem solid transparent;
}
.interactive-avatar__img:hover {
  border: 0.3333333333rem solid #0f5a47;
}

.section__title--order {
  margin-top: 4.7777777778rem;
  color: #365a49;
  margin-bottom: 2.9444444444rem;
}

.order-section {
  position: relative;
  background-color: #d2ddd9;
  background: url("../decor/pattern delivery.png");
  z-index: 50;
}
.order-section:before {
  content: url("../decor/blueberry order.png");
  bottom: 10%;
  left: 1%;
  position: absolute;
}
.order-section:after {
  content: url("../decor/leave order.png");
  right: 0;
  bottom: 10%;
  position: absolute;
}

.form {
  display: flex;
  flex: 1;
}

.form__col {
  margin-right: 1.1111111111rem;
  flex: 1;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  height: 3.2777777778rem;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input:focus {
  outline: none;
  border-color: #dee2bd;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}

.form__title {
  color: #365a49;
  margin-bottom: 0.3333333333rem;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.3333333333rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.5555555556rem;
  margin-bottom: 0.5555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../decor/Галочка.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: white;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  color: #365a49;
  padding-left: 0.5555555556rem;
}

.button {
  padding: 1rem 1.7777777778rem;
  border-radius: 5.5555555556rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border: none;
}
.button--white {
  background: white;
  color: #2e4e3f;
}
.button:hover {
  color: white;
  background: #2e4e3f;
}
.button--theme--green {
  background: #2e4e3f;
  color: #ffffff;
}
.button--theme--green:hover {
  background: #ffffff;
  color: #2e4e3f;
}
.button--theme--transparent {
  color: #000000;
  background: transparent;
  text-transform: none;
}
.button--theme--transparent:hover {
  color: #2e4e3f;
  background: transparent;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.5555555556rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: white;
  border-radius: 10px;
  height: 4px;
}