$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones:480px;

//color
$blue: #61c4d9;
$darkGreen: #2e4e3f;

//z-index
$z-fixed-menu: 100;

//setup

@import "layout/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;800&display=swap');
@import "components/media.scss";
@import "layout/base.scss";

//components
@import "components/promo.scss";
@import "components/header.scss";
@import "components/advantages.scss";
@import "components/why.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/forms.scss";
@import "components/controls.scss";
@import "components/button.scss";
@import "components/fixed-menu.scss";



