html, body{
  height: 100%;
  
  font-weight: 400;
  font-family: 'Alegreya Sans', 'Arial', 'Helvetica', 'sans-serif';
  color: #666666;


}

html {

  font-size: $baseFontSize;

@include tablets {
  font-size: $baseFontSize - 1px;
}
@include phones {
  font-size: $baseFontSize - 2px;

}
}


.wrapper{
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

}


  
.container {

  margin: 0 auto;
  max-width: $containerWidth;
  width: 95%;
  position: relative;
}

html {
  box-sizing: border-box;
}


ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}


button{
border:none;
background: transparent;
cursor: pointer
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit
}


p {

  margin-top: 0;

}


img{
  display: block;
  max-width: 100%;
}