


.benefit-section {
  position: relative;
  padding-top: rem(113px);

  background: url('../../decor/grey\ leave.png') left top 57% no-repeat;

  @include tablets {
    background: none;
    padding-top: rem(113px);
  }

  @include phones {
    background: none;
    padding-top: rem(45px);

  }




  &:after {
    content: url('../../decor/raspberry.png');
    position: absolute;
    left: 0;
    bottom: rem(-103px);

    @include phones {
      display: none;
    }


  }
}


.benefits {
  display: flex;
  @include phones{
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
  @include phones{
    display: flex;
    padding: 0;
    margin-bottom: rem(19px);
     }
   

  &:before {
    content: url("../../decor/grey\ dotts.png");
    position: absolute;
    top: rem(43px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }

  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  &:first-child {
    margin-left: -7.5%;
    @include tablets{
      margin-left: 0;
    }
    @include phones{
      margin-left: 0;
  }
}
}