.section {
  background-color: white;
  height: 100%;
  min-height: rem(650px);


}



.container--why {
  height: 100%;
  position: relative;
  z-index: 20;



}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  color: #000000;
  padding-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  @include phones {
    padding-bottom: rem(20px);
  }

}

