.benefits {
  display: flex;
  @include phones{
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
  @include phones{
    display: flex;
    padding: 0;
    margin-bottom: rem(19px);
     }
   

  &:before {
    content: url("../decor/grey\ dotts.png");
    position: absolute;
    top: rem(43px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }

  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  &:first-child {
    margin-left: -7.5%;
    @include phones{
      margin-left: 0;
  }
}
}