.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list{
  display: flex;
  align-items: center;
}

.menu__link{
  text-decoration: none;
}

.menu__item{
  margin-right: rem(15px);
  
  &:last-child {
    margin-right: 0;
  };
}

.contacts-phone{
font-size: rem(20px);
text-decoration: none;
display: flex;
align-items: center;
}

.contact-phone__icon-elem{
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}

.phone{
  &:hover {
    fill: red;
  }
}


.menu {
  @include tablets {
    display: none;
  }
}

.header__contact-phone {
  @include tablets{
    display: none;
  }
}