
.headline{
  text-align: center;
  margin-bottom: rem(57px);
}


.headline__title{
  margin-bottom: rem(11px);
  margin-top: rem(113px);
  @include tablets {
    margin-top: rem(290px);
  }
  
}

.headline__text{
 padding: 0 23%;
}

