.close__icon--menu{
  overflow: hidden;

}


.menu-section {

  background: url('../menu-section/background.png') center center no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  

}



.menu-section__list {
  display: flex;
  justify-content: flex-end;
}


.menu-section__items {
  height: 100vh;
  display: flex;
  justify-items: flex-end;
  position: relative;

 
}


.menu-section__photo {
  height: 100vh;

  @include tablets{
    width: 14vw;
  }
  @include phones{
    width: 14vw;
  }


}


.menu-section__img {
  height: 100vh;
}


.menu-section__hidden {
  justify-content: flex-start;
  background-color: rgb(51, 53, 55);
  opacity: 0.929;
  width: 0;
  overflow: hidden;
  position: relative;
  





  .menu-section__text p {
    color: transparent;
    font-size: rem(16px);
    margin: rem(56px) rem(127px) rem(0px) rem(30px);
    line-height: 1.5;
    
@include phones{
    
  margin: rem(56px) rem(20px) rem(0px) rem(20px);

  }
  }

}



.menu-section__hidden--animated {


  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

 

}

@keyframes bounce {
  0% {
    width: 0;
  }


  90% {
        width: 46vw;
        
        }
  

  100% {
    width: 40vw;
    
  }


}

.menu-section__hidden--animated .menu-section__text p{
  
    color: white;
    transition-property: color;
    transition-delay: 1.4s;
      
    
    
      }



      .menu-section__hidden--animated--close {


        animation-name: bounce-back;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: backward;
      
       
      
      }
      
      @keyframes bounce-back {
        0% {
          width: 58vw;
          
        }
                 
      
        100% {
          width: 0;
        }
      
      
      }
      
      .menu-section__hidden--animated--close .menu-section__text p{
        
          color: transparent;
          transition-property: color;
          transition-delay: .5s;
            
          
          
            }



      .close__link--menu{
        position: absolute;
        top: rem(30px);
        right: rem(30px);
      }
      

      .close__icon--menu{
        fill: #c2c3c4;
        width: rem(20px);
        height: rem(20px);
      }



      .menu-section__hidden--animated--768 {


        animation-name: bounce768;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      
       
      
      }
      
      @keyframes bounce768 {
        0% {
          width: 0;
        }
      
      
        100% {
              width: 58vw;
              
              }
                        
      }
      
      .menu-section__hidden--animated--768 .menu-section__text p{
        
          color: white;
          transition-property: color;
          transition-delay: 1s;
            
          
          
            }
      
      
      
            .menu-section__hidden--animated--close--768 {
      
      
              animation-name: bounce-back-768;
              animation-duration: 1.5s;
              animation-timing-function: linear;
              animation-fill-mode: forward;
            
             
            
            }
            
            @keyframes bounce-back-768 {
              0% {
                width: 70vw;
                
              }
                       
            
              100% {
                width: 0;
              }
            
            
            }
            
            .menu-section__hidden--animated--close--768 .menu-section__text p{
              
                color: transparent;
                transition-property: color;
                transition-delay: .5s;
                  
                
                
                  }