.hero {
  background: url("../decor/узор.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: white;
  position: relative;

  &:before,
  &:after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    content: url('../decor/left\ leave.png');
    position: absolute;
    left: 5%;
    bottom: rem(-50px);
  }

  &:after {
    content: url(../decor/berries.png);
    position: absolute;
    right: 0;
    bottom: rem(-50px);
  }

}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);

}

.chocco {
  flex: 1;
  @include tablets{
    display: none;
   
   
  }
}

.chocco768{
  display: none;
  @include tablets{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 2%;


  }
}

.promo__title {
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(23px);
  line-height: 1.1;
  @include tablets {
    width: 100%;
  }
}

.promo__description {
  font-size: rem(21px);
  padding-bottom: rem(32px);
  @include tablets{
    width: 55%;
  }
  
  
}

.promo {
 display: flex;
 justify-content: space-between;
 align-items: center;

  @include tablets {
    display: flex;
    flex-direction: column;

    margin-bottom: 19%;
  }

}

.promo__text {
width: 43%;
  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablets {
      width: 100%;
      
    }
    
    
  }
}