

.section__title--review{
  margin-bottom: 44px;
}
.reviews__display-inner{
  background: #f8faf9;
  padding: 64px 45px 18px 36px;
  display: flex;
  margin-bottom: 27px;
  position: relative;
  overflow: hidden;

  &:before{
    content: url('../decor/Слой\ 2.png');
    right: 0;
    top:5%;
    position: absolute;
    
  }

&:after{
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  

}

}


.reviews__avatar{
  width: 254px;
  height: 260px;
  
}

.reviews__avatar-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content{
  flex:1;
  margin-left: 20px;
}

.reviews__subtitle{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 22px;

}

.reviews__text{
  margin-bottom: 36px;
  width: 85%;
}


.reviews__author{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--review{
  background: url('../decor/review\ decor\ left.png') left bottom -20% no-repeat; 
  position: relative;
  

    &:before {
    content: url('../decor/review\ berry\ left.png');
    position: absolute;
  left: 0;
  bottom: -103px;
  z-index: 60;
  }

  &:after {
    content: url('../decor/review\ strawberry\ top.png');
    position: absolute;
    right:0;
    top: 0;
  }
}
